*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}
#hinhnen{
   position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100vh;
  
}
#hinhnen img{
  width: 100%;
  height:100vh;


}


#chim{
top: 20px;
left: 0px;
position: absolute;
-webkit-animation-name: chim;
	-webkit-animation-duration: 10s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-play-state: running;	


}
@-webkit-keyframes chim
{
	0%{right: 100px;}
	50%{right: 400px;transform: rotate(30deg);}
	60%{right: 600px; transform: none;}
	80%{right: 900px;transform: rotate(-20deg);}
	100%{left:1000px ;}

}
#chim{
	top: 20px;
	left: 0px;
	position: absolute;
	-moz-animation-name: chim;
	-moz-animation-duration: 10s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;
	-moz-animation-play-state: running;	
	
	
	}
@-moz-keyframes chim
{
	0%{right: 100px;}
	50%{right: 400px;transform: rotate(30deg);}
	60%{right: 600px; transform: none;}
	80%{right: 900px;transform: rotate(-20deg);}
	100%{left:1000px ;}

}
#chim{
	top: 20px;
	left: 0px;
	position: absolute;
	-o-animation-name: chim;
	-o-animation-duration: 10s;
	-o-animation-timing-function: linear;
	-o-animation-iteration-count: infinite;
	-o-animation-play-state: running;	
	
	
	}
@-o-keyframes chim
{
	0%{right: 100px;}
	50%{right: 400px;transform: rotate(30deg);}
	60%{right: 600px; transform: none;}
	80%{right: 900px;transform: rotate(-20deg);}
	100%{left:1000px ;}

}

#heo{
	bottom: 100px;
	position: absolute;
	-webkit-animation-name: heo;
	-webkit-animation-duration: 8s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-play-state: running;	
}

@-webkit-keyframes heo
{
	0%{left: 100px;}
	50%{left: 600px;}
	100%{left:1000px ;}
}
#heo{
	bottom: 100px;
	position: absolute;
	-o-animation-name: heo;
	-o-animation-duration: 8s;
	-o-animation-timing-function: linear;
	-o-animation-iteration-count: infinite;
	-o-animation-play-state: running;	
}

@-o-keyframes heo
{
	0%{left: 100px;}
	50%{left: 600px;}
	100%{left:1000px ;}
}
#heo{
	bottom: 100px;
	position: absolute;
	-moz-animation-name: heo;
	-moz-animation-duration: 8s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;
	-moz-animation-play-state: running;	
}

@-moz-keyframes heo
{
	0%{left: 100px;}
	50%{left: 600px;}
	100%{left:1000px ;}
}
#sutu{
	bottom: 100px;
	position: absolute;
	-webkit-animation-name: sutu;
	-webkit-animation-duration: 8s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-play-state: running;	
}
@-webkit-keyframes sutu
{
	0%{left: 0px;}
	50%{left: 700px;}
	100%{left:1200px ;}
}
#sutu{
	bottom: 100px;
	position: absolute;
	-o-animation-name: sutu;
	-o-animation-duration: 8s;
	-o-animation-timing-function: linear;
	-o-animation-iteration-count: infinite;
	-o-animation-play-state: running;	
}
@-o-keyframes sutu
{
	0%{left: 0px;}
	50%{left: 700px;}
	100%{left:1200px ;}
}
#sutu{
	bottom: 100px;
	position: absolute;
	-moz-animation-name: sutu;
	-moz-animation-duration: 8s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;
	-moz-animation-play-state: running;	
}
@-moz-keyframes sutu
{
	0%{left: 0px;}
	50%{left: 700px;}
	100%{left:1200px ;}
}
#sutu2{
	bottom: 180px;
	left: 255px;

	position: absolute;
	-webkit-animation-name: sutu2;
	-webkit-animation-duration: 8s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-play-state: running;	
}
@-webkit-keyframes sutu2
{
	0%{left: 255px;}
	50%{left: 350px;}
	100%{left:470px ;}
}
#sutu2{
	bottom: 180px;
	left: 255px;

	position: absolute;
	-moz-animation-name: sutu2;
	-moz-animation-duration: 8s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;
	-moz-animation-play-state: running;	
}
@-moz-keyframes sutu2
{
	0%{left: 255px;}
	50%{left: 350px;}
	100%{left:470px ;}
}
#sutu2{
	bottom: 180px;
	left: 255px;

	position: absolute;
	-o-animation-name: sutu2;
	-o-animation-duration: 8s;
	-o-animation-timing-function: linear;
	-o-animation-iteration-count: infinite;
	-o-animation-play-state: running;	
}
@-o-keyframes sutu2
{
	0%{left: 255px;}
	50%{left: 350px;}
	100%{left:470px ;}
}
#cho{
	bottom: 0px;
	right: 20px;

	position: absolute;
	-webkit-animation-name: cho;
	-webkit-animation-duration: 8s;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-play-state: running;	
}
@-webkit-keyframes cho
{
	0%{right: 0px;}
	25%{right: 300px;transform: none;}
	50%{right: 600px;transform: scaleX(-1)}
	75%{left: 300px;transform: scaleX(-1);}
	90%{left:800px; transform: scaleX(-1) }
	100%{left:980px; transform: scaleX(-1) }
}
#cho{
	bottom: 0px;
	right: 20px;

	position: absolute;
	-o-animation-name: cho;
	-o-animation-duration: 8s;
	-o-animation-timing-function: ease-in-out;
	-o-animation-iteration-count: infinite;
	-o-animation-play-state: running;	
}
@-o-keyframes cho
{
	0%{right: 0px;}
	25%{right: 300px;transform: none;}
	50%{right: 600px;transform: scaleX(-1)}
	75%{left: 300px;transform: scaleX(-1);}
	90%{left:800px; transform: scaleX(-1) }
	100%{left:980px; transform: scaleX(-1) }
}
#cho{
	bottom: 0px;
	right: 20px;

	position: absolute;
	-moz-animation-name: cho;
	-moz-animation-duration: 8s;
	-moz-animation-timing-function: ease-in-out;
	-moz-animation-iteration-count: infinite;
	-moz-animation-play-state: running;	
}
@-moz-keyframes cho
{
	0%{right: 0px;}
	25%{right: 300px;transform: none;}
	50%{right: 600px;transform: scaleX(-1)}
	75%{left: 300px;transform: scaleX(-1);}
	90%{left:800px; transform: scaleX(-1) }
	100%{left:980px; transform: scaleX(-1) }
}
#khi2{right: 0px;top: 50px; position: absolute;}
#may{
top: 80px;
left: 0px;
position: absolute;
-webkit-animation-name: may;
-webkit-animation-duration: 20s;
-webkit-animation-timing-function: linear;
-webkit-animation-iteration-count: infinite;
-webkit-animation-play-state: running;	
}
@-webkit-keyframes may
{
0%{right: 100px;}
50%{right: 400px;}
100%{left:1000px }
	
}
#may{
top: 80px;
left: 0px;
position: absolute;
-o-animation-name: may;
-o-animation-duration: 20s;
-o-animation-timing-function: linear;
-o-animation-iteration-count: infinite;
-o-animation-play-state: running;	
}
@-o-keyframes may
{
0%{right: 100px;}
50%{right: 400px;}
100%{left:1000px }
	
}
#may{
top: 80px;
left: 0px;
position: absolute;
-moz-animation-name: may;
-moz-animation-duration: 20s;
-moz-animation-timing-function: linear;
-moz-animation-iteration-count: infinite;
-moz-animation-play-state: running;	
}
@-moz-keyframes may
{
0%{right: 100px;}
50%{right: 400px;}
100%{left:1000px }
	
}
#chim2{
top: 20px;
left: 0px;
position: absolute;
-webkit-animation-name: chim2;
-webkit-animation-duration: 15s;
-webkit-animation-timing-function: linear;
-webkit-animation-iteration-count: infinite;
-webkit-animation-play-state: running;	
		
		
}
@-webkit-keyframes chim2
{
0%{right: 100px;}
50%{right: 400px;}
100%{left:1000px }
		
}
#chim2{
	top: 20px;
	left: 0px;
	position: absolute;
	-o-animation-name: chim2;
	-o-animation-duration: 15s;
	-o-animation-timing-function: linear;
	-o-animation-iteration-count: infinite;
	-o-animation-play-state: running;	
			
			
	}
@-o-keyframes chim2
{
0%{right: 100px;}
50%{right: 400px;}
100%{left:1000px }
		
}
#chim2{
	top: 20px;
	left: 0px;
	position: absolute;
	-moz-animation-name: chim2;
	-moz-animation-duration: 15s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;
	-moz-animation-play-state: running;	
			
			
	}
@-moz-keyframes chim2
{
0%{right: 100px;}
50%{right: 400px;}
100%{left:1000px }
		
}
#khi{
bottom: 0px;
left: 0px;
position: absolute;
-webkit-animation-name: khi;
-webkit-animation-duration: 8s;
-webkit-animation-timing-function: linear;
-webkit-animation-iteration-count: infinite;
-webkit-animation-play-state: running;	
		
}
@-webkit-keyframes khi{
 0%{right: 100px;}
 20%{left: 100px;}
 40%{transform: translateY(-1);}
 60%{}
 80%{bottom: 20px;}
 82%{bottom: 0px;}
 84%{bottom: 20px;}
 86%{bottom: 0px;}
 88%{bottom: 20px;}
 90%{bottom: 0px;}
 92%{bottom: 20px;}
 94%{bottom: 0px;}
 96%{bottom: 20px;}
 100%{bottom: 0px;}

}
#khi{
	bottom: 0px;
	left: 0px;
	position: absolute;
	-o-animation-name: khi;
	-o-animation-duration: 8s;
	-o-animation-timing-function: linear;
	-o-animation-iteration-count: infinite;
	-o-animation-play-state: running;	
			
	}
@-o-keyframes khi{
	0%{right: 100px;}
	20%{left: 100px;}
	40%{transform: translateY(-1);}
	60%{}
	80%{bottom: 20px;}
	82%{bottom: 0px;}
	84%{bottom: 20px;}
	86%{bottom: 0px;}
	88%{bottom: 20px;}
	90%{bottom: 0px;}
	92%{bottom: 20px;}
	94%{bottom: 0px;}
	96%{bottom: 20px;}
	100%{bottom: 0px;}
   
   }
   #khi{
	bottom: 0px;
	left: 0px;
	position: absolute;
	-moz-animation-name: khi;
	-moz-animation-duration: 8s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;
	-moz-animation-play-state: running;	
			
	}
   @-moz-keyframes khi{
	0%{right: 100px;}
	20%{left: 100px;}
	40%{transform: translateY(-1);}
	60%{}
	80%{bottom: 20px;}
	82%{bottom: 0px;}
	84%{bottom: 20px;}
	86%{bottom: 0px;}
	88%{bottom: 20px;}
	90%{bottom: 0px;}
	92%{bottom: 20px;}
	94%{bottom: 0px;}
	96%{bottom: 20px;}
	100%{bottom: 0px;}
   
   }

.buttons{

	width: 100px;
	height: 20px;
	position: absolute;
}	
#b1{ width: auto; height: 20px; background-color:salmon;top: 0px;position: absolute; border: none; cursor: pointer;}
#b2{ width: auto; height: 20px; background-color:salmon;top: 0px; left: 85px;position: absolute;border: none;cursor: pointer;}
#b3{ width: auto; height: 20px; background-color:salmon;top: 0px;left: 170px;position: absolute;border: none;cursor: pointer;}

.control{
width: 100%;
display: flex;
justify-content: center;
margin: auto;
margin-top: 20px;
}
.btn-play{
	position: absolute;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background: #ccc;
	cursor: pointer;
	border: none;
}	
.btn-play span{
position: absolute;
top: 50%;
left: 25%;
transform:translateY(-50%) ;
width: 10px;
height: 30px;
border-radius: 2px;
background: black;
clip-path: polygon(0 0,100% 0,100% 100%,0% 100%);
transition: .5s;

}
.btn-play span:nth-child(2){
	left: 50%;
	transform-origin: center;
}	
.btn-play.pause span:nth-child(2){
transform: translateY(-50%) scaleY(0);

}
.btn-play.pause span:nth-child(1){
	width: 35%;
	left: 53%;
	transform: translate(-50% ,-50%);
	border-radius: 0;
	clip-path: polygon(0 0,100% 50%,100% 50%,0% 100%);
}
.btn-play.pause{
	animation: pulse 2s linear infinite;
}
@keyframes pulse {
	0%{box-shadow: 0;}
	50%{box-shadow: 0 0 0 2px #ccc;}
	100%{box-shadow: 0 0 0 2px #3b3434;}

	
}
.btn{
width: 30px;
height: 30px;
background: salmon;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
border: none;
cursor: pointer;
margin-top: 6px;

}
.btnback{top: 40px;left: 10px;position: absolute;}
.btnnext{top: 40px;left: 95px;position: absolute;}
.btn-play{top: 36px;left: 45px;position: absolute;}


	